<br>  
<h2>
    <strong>The Arabidopsis Gene Regulatory Information Server (<a href="https://agris-knowledgebase.org/">AGRIS</a>)  </strong>
  </h2>
  <p>
      <a href="https://agris-knowledgebase.org/"><img alt="AGRIS header" src="/assets/images/agrisgrotewoldlabdatabases.png"></a>
  </p>
  <p>AGRIS is an information resource of Arabidopsis promoter sequences, transcription factors and their target genes. AGRIS currently contains two databases,  <a href="https://agris-knowledgebase.org/AtcisDB/" rel="noreferrer noopener" target="_blank">AtcisDB</a> (Arabidopsis thaliana cis-regulatory database) and  <a href="https://agris-knowledgebase.org/AtTFDB/" rel="noreferrer noopener" target="_blank">AtTFDB</a> (Arabidopsis thaliana transcription factor database). The two databases, used in tandem, provide a powerful tool for use in continuous research.  </p>
  <p>AtcisDB consists of 25,806 promoter sequences of annotated Arabidopsis genes with a description of putative cis-regulatory elements. AtTFDB contains information on approximately 1,550 transcription factors. These transcription factors are grouped into 41 families, based on the presence of conserved DNA-binding domains. </p>
  <br>  
  <h2>
    <strong>Grass Regulatory Information Server (<a href="https://grassius.org/">GRASSIUS</a>)  </strong>
  </h2>
  <p>
    <a href="https://grassius.org/"><img alt="GRASSIUS header" height="113" src="/assets/images/grassiusgrotewoldlabdatabases.png" width="620"></a>
  </p>
  <p> </p>
  <p>GRASSIUS provides a resource similar to AGRIS, integrating information on transcription factors (TFs), promoter and cis-regulatory element (CREs) across the grasses (sugarcane, maize, rice, and sorghum), providing a valuable tool for comparative regulatory genomics. GRASSIUS houses various datasets which include,  <a href="http://grassius.org/grasstfdb.php" rel="noreferrer noopener" target="_blank">GRASSTFDB</a> (Grass Transcription Factors Data),  <a href="http://grassius.org/tfomecollection.php" rel="noreferrer noopener" target="_blank">MAIZE TFOME</a> (Maize Tfome Data) and GRASSREGNET (Grass Regulatory Network Data).GRASSTFDB is a collection of TFs from maize, sugarcane, and rice. GRASSREGNET will integrate information housed in MAIZE TFOME and GRASSTFDB in the light of experimentally verified interactions in order to establish regulatory motifs across the grasses. Arabidopsis Gene Regulatory Information Server (AGRIS)  </p>
  <br>
  <br>
  <h2>
    <strong>Camelina Gene Regulation Database (<a href="https://camregbase.org/">CamRegBase</a>) </strong>
  </h2>
  <p>
    <a href="https://camregbase.org/"><img alt="Camelina Database" height="172" src="/assets/images/CamRegBase_Database.png" width="920"></a>
  </p>
  <p>The Camelina Gene Expression Database was created to provide researchers new avenues of transcriptome analysis. By integrating publicly available transcriptome data consisting of 19 bio-projects, 139 libraries, 112 experiments and 11 tissues, this database represents the most comprehensive transcript resource currently available for Camelina.</p>