<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    {%- assign page_paths = site.header_pages -%}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">     
            ‬
            {%- assign section_index = 0 -%}  
            {% for section in site.navigation %}
            <li class="nav-item">
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-hover" href="{{ section.url }}" role="button" id="dropdownMenuLink{{ section_index }}" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">{{ section.title }} <div class="dropdown-icon"></div></a>
                    {% if section.subpages %}
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink{{ section_index }}">
                        {% for page in section.subpages %}
                        <a class="dropdown-item" href="{{ page.url }}">{{ page.title }}</a>
                        {% endfor %}
                    </div>
                    {% endif %}
            </li>
            {%- assign section_index = section_index+1 -%}   
            {% endfor %}   
            
          <!--<a class="small-icon dev-icon" title="EGLab-Dev" href="https://eglab-dev.com"></a>--!>
          <a class="small-icon github-icon" title="GitHub" href="https://github.com/grotewold-lab"></a>
          <a class="small-icon facebook-icon" title="Facebook" href="https://www.facebook.com/profile.php?id=61553625340747"></a>
        </ul>
    </div>
  </div>
</nav>
