

<div class="row">
    <img src="/assets/images/group_2025.jpg"  style="height:350px; display: block; margin-left: auto; margin-right: auto;">
</div>

<br>
Principal Investigator: Erich Grotewold 
<br>
&nbsp;&nbsp;&nbsp;(<a href="https://bmb.natsci.msu.edu/about/bmb-community-profiles/erich-grotewold-bmb-community-profile.aspx">community profile</a>) (<a href="https://scholar.google.com/citations?user=qJ8iOCsAAAAJ&hl=en">google scholar</a>) (<a href="https://pubmed.ncbi.nlm.nih.gov/?term=Grotewold+E&cauthor_id=34865154">pubmed</a>)
<br>


<strong>Current Lab Members:</strong>

<div class="row">
    {%- for path in site.current_members -%}
      {%- assign pages = site.pages | where: "path", path | first -%}
      {%- if pages.title -%}
      <div class="col-sm-6 col-md-3 col-lg-2">
        <div class="person-thumb">
            <a href="{{ pages.url | relative_url }}">
                {%- if pages.image -%}
                    <img alt="{{ pages.title | escape }}" src="/assets/images/{{ pages.image }}"/>
                {%- endif -%}
                <br>
                {{ pages.title | escape }}
            </a>
            <br><small>{{ pages.position }}</small>
        </div>
      </div>
      {%- endif -%}
    {% endfor -%}
</div>

<br>
<strong>Current Undergraduate Lab Members:</strong>


<div class="row">
    {%- for path in site.current_undergrads -%}
      {%- assign pages = site.pages | where: "path", path | first -%}
      {%- if pages.title -%}
      <div class="col-sm-6 col-md-3 col-lg-2">
        <div class="person-thumb">
            <a href="{{ pages.url | relative_url }}">
                {%- if pages.image -%}
                    <img alt="{{ pages.title | escape }}" src="/assets/images/{{ pages.image }}"/>
                {%- endif -%}
                <br>
                {{ pages.title | escape }}
            </a>
        </div>
      </div>
      {%- endif -%}
    {% endfor -%}
</div>
<br>
<strong> Current Rotation Students</strong>

<div class="row">
    {%- for path in site.current_rotations -%}
      {%- assign pages = site.pages | where: "path", path | first -%}
      {%- if pages.title -%}
      <div class="col-sm-6 col-md-3 col-lg-2">
        <div class="person-thumb">
            <a href="{{ pages.url | relative_url }}">
                {%- if pages.image -%}
                    <img alt="{{ pages.title | escape }}" src="/assets/images/{{ pages.image }}"/>
                {%- endif -%}
                <br>
                {{ pages.title | escape }}
            </a>
        </div>
      </div>
      {%- endif -%}
    {% endfor -%}
</div>

<br>
<br>
<a href="/pastpeople">View Previous Lab Members</a>
