

<h2>
<strong><a id="project1"></a>Elucidating the Architecture of Plant Gene Regulatory Networks</strong>
</h2>&#xD;

<p>
<img alt="Regulatory_Networks" height="720" src=" /assets/images/Regulatory%20Networks_EG.png" width="960">
</p>&#xD;

<p>
<em><strong>Figure 1.&nbsp; Using the Regulation of Phenolic Compounds as a Window for Exploration
into the Maize Gene Regulatory Network.</strong>&nbsp; The integration of multiple omics data related to phenolic metabolism helps reveal&nbsp;the
properties of the gene regulatory grid in maize. Focusing on all different types of
phenomics, genomics, transcriptomics, and metabolomics data allow us to study&nbsp;the
complex inter-relationships and how they function toward influencing phenotypes, such
as phenolic compounds accumulation in maize population. With the rapid expansion within
the omics field, consolidating multiple approaches are essential to provide new perspectives
on how the gene regulatory grid/network makeup of maize.</em>
</p>&#xD;

<p>Elucidating the architecture of gene regulatory grids and gene regulatory networks
involves linking the&nbsp;cis-regulatory machinery (cistrome) with the&nbsp;trans-acting factors
through the identification of protein-DNA interactions (PDIs).&nbsp;&nbsp;Our lab combines gene-
and transcription factor (TF)-centered approaches to determine the biologically-relevant
PDIs important for the temporal and spatial expression of all genes. Experiments are
largely conducted in maize and&nbsp;Arabidopsis&nbsp;as well as projects in&nbsp;tomato and&nbsp;Camelina.&nbsp;&nbsp;In
tomato, we are investigating the interaction of several TFs with target genes involved
in early fruit development.&nbsp;&nbsp;In&nbsp;maize, we implemented&nbsp;DNA affinity purification sequencing&nbsp;(DAP-seq)&nbsp;and&nbsp;chromatin
immunoprecipitation sequencing&nbsp;(ChIP-seq)&nbsp;to establish the genome-wide occupancies
of 45 TFsâ&#x80;¯involved in the control of the&nbsp;phenylpropanoid&nbsp;pathway.&nbsp;The&nbsp;cistrome&nbsp;hinges
on where transcription initiation&nbsp;starts,&nbsp;thus, our lab has been conducting extensive
cap analysis of gene expression (CAGE) to determine&nbsp;the location of&nbsp;transcription
start sites&nbsp;(TSS)&nbsp;in&nbsp;two&nbsp;maize inbred lines, B73 and Mo17,&nbsp;under normal and stress
conditions.&nbsp;&nbsp;Additionally, we&nbsp;aim to&nbsp;understand&nbsp;how TSS selection is controlled in
cis/trans;&nbsp;thus,&nbsp;we&nbsp;have&nbsp;conducted CAGE sequencing and computational analysis&nbsp;on F1
hybrids&nbsp;to generate&nbsp;unparalleled information on how TSSs are determined.</p>&#xD;

<h2>
<br>&#xD;
<strong><a id="project2"></a>Biosynthesis, Transport and Regulation of Flavonoids and Other Phenolic Compounds</strong>
</h2>&#xD;

<p>
<img alt="Flavenoids" height="540" src=" /assets/images/Project%202_Dual%20Pic%20Update.jpg" width="960">
</p>&#xD;

<p>
<em><strong>Figure 2.&nbsp;&nbsp;Biosynthesis, Transport and Regulation of Flavonoids and Other Phenolic
Compounds.&nbsp;&nbsp;</strong>Proposed model for promoter switching by R (bHLH protein) to regulate anthocyanin
accumulation in association with C1 (R2R3-MYB protein; 2A) and RIF1 (EMSY-related
protein) in Maize (Kong et al 2012; 2B).&nbsp;&nbsp;Summary of evidence for Core Phenylpropanoid,
Monolignol, and Flavonoid Pathways in Maize (Gomez-Cano et al 2020; 2C).&nbsp; </em>
</p>&#xD;

<p>Phenolic compounds are important plant specialized metabolites that participate in
biotic and abiotic interactions&nbsp;between&nbsp;plants&nbsp;and&nbsp;the environment.&nbsp;Especially,&nbsp;Flavonoid-pigments,
including the anthocyanins and&nbsp;phlobaphenes, have provided powerful visual tools to
understand fundamental biological concepts. Our lab&nbsp;is interested&nbsp;to investigate how
the interaction&nbsp;between&nbsp;R2R3-MYB and basic helix-loop-helix (bHLH) transcription factors
cooperate to regulate anthocyanin accumulation in maize and&nbsp;Arabidopsis; and how&nbsp;bHLH&nbsp;transcription
factors with very similar DNA-binding domains display regulatory specificity, for
example in the regulation of flavonoid pigments in maize&nbsp;aleurone, and in&nbsp;Arabidopsis&nbsp;epidermal
cell differentiation (e.g., trichomes).&nbsp;Meanwhile, our&nbsp;lab is using anthocyanin compounds
to better understand how specialized metabolites&nbsp;traffick&nbsp;within cells, an&nbsp;issue&nbsp;for
the vast majority of thousands of specialized metabolites that characterizes&nbsp;land
plants. Given the importance of&nbsp;phenylpropanoids&nbsp;and lignin compounds for agricultural
biomass&nbsp;and&nbsp;biofuel potential,&nbsp;our&nbsp;lab is also&nbsp;focused on the identification of new&nbsp;genes
involved in the biosynthesis and regulation of maize&nbsp;phenylpropanoids,&nbsp;using a combination
of yeast and transient expression in&nbsp;Nicotiana&nbsp;benthamiana.</p>&#xD;

<h2>
<br>&#xD;
<strong><a id="project3"></a>Engineering the Pathways for Insecticidal and Nutritional Flavones</strong>
</h2>&#xD;

<h2>
<img alt="flavones" height="435" src=" /assets/images/Project%203_v2(1).png" width="960">
</h2>&#xD;

<p>
<em><strong>Figure 3. &nbsp;Engineering the Pathways for Insecticidal and Nutritional Flavones.</strong> &nbsp;A transgenic tomato plant harboring the gene, ZmFNSI-1, driven by the pMKS1 trichome
specific promoter, encodes a flavone synthase, which uses the flavonones naringenin
and eriodyctiol to produce the flavones apigenin and luteolin, respectively (A). &nbsp;By
expressing ZmFNSI-1 in a tissue specific manner, we aim to obtain flavones beneficial
to human health and precursors (luteolin) in maysin biosynthesis, our main target
to engineer in tomato. &nbsp;To engineer flavones and C-glycosylflavones involved in the
maysin biosinthesis, all the enzymes are being expressed in a tissue specific manner
using the pMKS1 promoter (B) and in constitutive&nbsp;manner using the promoter of the
Chalcone synthase gene, pCHI1 (C).</em>
</p>&#xD;

<p>One group of flavonoid compounds with human health importance and that also provide
resistance to herbivores and other pathogens are flavones. In maize,&nbsp;C-glycosylflavones,
in particular&nbsp;maysin, provide significant protection to the corn earworm (Helicoverpa&nbsp;zea)
and related insects when they accumulate in the silks. We have elucidated the pathway
for&nbsp;maysin&nbsp;biosynthesis, and we are currently engineering this pathway into other
crops and vegetables that are susceptible to&nbsp;Helicoverpa&nbsp;zea.&nbsp;Using stable transformation
in tomato and transient expression in&nbsp;Nicotiana&nbsp;benthamiana, we are expressing&nbsp;the
necessary enzyme-coding genes to produce all the flavones and&nbsp;C-glycosyl flavones
involved in&nbsp;maysin&nbsp;biosynthesis.&nbsp;Because glycosylated flavones are usually less health-beneficial
to animals than the aglycones, we are also combining available maize mutants to enhance
the accumulation of seed flavone aglycones,&nbsp;in particular apigenin&nbsp;and luteolin.&nbsp;</p>&#xD;

<h2>
<strong><a id="project4"></a>Biosynthesis and Regulation of Seed Oils in Emerging Oilseed Crops</strong>
</h2>&#xD;

<p>
<img alt="Camelina_Pennycress"  src="/assets/images/DSC_0251.jpeg" >
</p>&#xD;

<p>As part of several collaborative projects, the lab is involved in elucidating the
mechanisms by which seed oils are regulated in&nbsp;Camelina&nbsp;and&nbsp;Pennycress, and how this
knowledge can be translated into strategies to enhance oilseed production in these
plants with increasing agronomic potential.&nbsp;&nbsp;We are currently working on transforming
candidate genes responsible for enhancing or regulating seed oil productionâ&#x80;¯in&nbsp;Camelina&nbsp;and
Pennycress.â&#x80;¯&nbsp;Transgenes altering oil accumulation allow us to increase fundamental
knowledge of the not fully understood fatty acid biosynthetic pathways, as well as,&nbsp;enable&nbsp;targeted
breeding&nbsp;to&nbsp;increase&nbsp;the yield of oil in the seed.&nbsp;&nbsp;In addition, we also plan to accomplish
this goal with DNA affinity purification sequencing (DAP-seq) strategy, an&nbsp;in vitro&nbsp;TF
centered technique, to identify potential TF-DNA interactions responsible for elevating
oil levels.&nbsp;&nbsp;</p>&#xD;

<p paraeid="{5c66dfa3-76c4-483f-b96d-23642356df74}{255}" paraid="1887000616">Image courtesy&nbsp;of:&nbsp; CINTIA ARIAS of University of North Texas, Texas (UNT)</p>&#xD;