<style>
    td, th {
        border:1px solid black;
        font-size: 16px;
        padding: 10px;   
    }
    
    th {
        text-align: center;   
    }
    
    td a {
        font-weight: bold;
        text-decoration: underline;
    }
</style>


<table>
  <thead>
    <tr>
      <th scope="col" style="width:400px">Publication</th>
      <th scope="col" style="width:150px">Pubmed</th>
      <th scope="col" style="width:100px">PDF</th>
      <th scope="col" style="width:100px">Data</th>
      <th scope="col" style="width:100px">Scripts</th>
    </tr>
  </thead>
  <tbody>

{% for pub in site.publications reversed %}
  {% assign year = pub.path | split:"/" | last | split:"-" | first %}

    <tr>
      <td>{{pub.short_label}} ({{year}})</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/{{pub.pmid}}">{{pub.pmid}}</a>
      </td>
      <td>
        {% if pub.pdf and pub.pdf != '' %}
          <a href="{{pub.pdf}}">PDF</a>
        {% endif %}
      </td>
      <td>
        {{pub.data}}
      </td>
      <td>
        {{pub.scripts}}
      </td>
    </tr>

{% endfor %}

  </tbody>
</table>
