  <p>Click <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Grotewold+E">here</a> for all papers via Pubmed </p>
  <p>Click <a href="https://scholar.google.com/citations?user=qJ8iOCsAAAAJ&amp;hl=en&nbsp;">here</a> for all papers via Google Scholar </p>
  <p>Click <a href="/published-data-and-scripts">here</a> for published data and scripts </p>
  <br>
  <h3>
    <strong>
      <em>Papers within the last 9&nbsp;years:</em>&nbsp; </strong>
  </h3>



{% for pub in site.publications reversed %}
  {% assign year = pub.path | split:"/" | last | split:"-" | first %}
  <p>{{pub.authors}}. ({{year}}) {{pub.title}}. <b>{{pub.journal}}.</b> {{pub.issue}}. <a href="https://pubmed.ncbi.nlm.nih.gov/{{pub.pmid}}">PMID: {{pub.pmid}}</a></p>
{% endfor %}
