  <p>Click <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Grotewold+E">here</a> for all papers via Pubmed </p>
  <p>Click <a href="https://scholar.google.com/citations?user=qJ8iOCsAAAAJ&amp;hl=en&nbsp;">here</a> for all papers via Google Scholar </p>
  <p>Click <a href="/published-data-and-scripts">here</a> for published data and scripts </p>
  <br>
  <h3>
    <strong>
      <em>Papers within the last 7&nbsp;years:</em>&nbsp; </strong>
  </h3>

  <p>
      Johnston C, García Navarrete LT, Ortiz E, Romsdahl TB, Guzha A, Chapman KD, Grotewold E, Alonso AP. (2022) Effective Mechanisms for Improving Seed Oil Production in Pennycress ( Thlaspi arvense L.) Highlighted by Integration of Comparative Metabolomics and Transcriptomics. <strong>Front Plant Sci.</strong> 13:943585. <a href="https://pubmed.ncbi.nlm.nih.gov/35909773">PMID: 35909773</a>
    <br>
    <br> Rodriguez J, Gomez-Cano L, Grotewold E, de Leon N. (2022) Normalizing and Correcting Variable and Complex LC-MS Metabolomic Data with the R Package pseudoDrift. <strong>Metabolites</strong> 12: 435. <a href="https://pubmed.ncbi.nlm.nih.gov/35629939">PMID: 35629939</a>
    <br>
    <br> García Navarrete T, Arias C, Mukundi E, Alonso AP, Grotewold E. (2022) Natural variation and improved genome annotation of the emerging biofuel crop field pennycress (Thlaspi arvense). <strong>G3 (Bethesda) </strong>12: jkac084. <a href="https://pubmed.ncbi.nlm.nih.gov/35416986">PMID: 35416986</a>
    <br>
    <br> Ding X, Zhang X, Paez-Valencia J, McLoughlin F, Reyes FC, Morohashi K, Grotewold E, Vierstra RD, Otegui MS. (2022) Microautophagy Mediates Vacuolar Delivery of Storage Proteins in Maize Aleurone Cells. <strong>Front Plant Sci.</strong> 13:833612. <a href="https://pubmed.ncbi.nlm.nih.gov/35251104">PMID: 35251104</a>
    <br>
    <br> Gomez-Cano F, Chu YH, Cruz-Gomez M, Abdullah HM, Lee YS, Schnell DJ, Grotewold E. (2022) Exploring Camelina sativa lipid metabolism regulation by combining gene co-expression and DNA affinity purification analyses. <strong>Plant J. </strong>110(2):589-606.&nbsp; <a href="http://pubmed.ncbi.nlm.nih.gov/35064997">PMID: 35064997</a>
    <br>
    <br> Schmitz RJ, Grotewold E, Stam M. (2022) Cis-regulatory sequences in plants: Their importance, discovery, and future challenges. <strong>Plant Cell.</strong> 34(2):718-741. <a href="http://pubmed.ncbi.nlm.nih.gov/34918159">PMID: 34918159</a>
    <br>
    <br> Moore BM, Lee YS, Wang P, Azodi C, Grotewold E, Shiu SH. (2022) Modeling temporal and hormonal regulation of plant transcriptional response to wounding. <strong>Plant Cell.</strong>&nbsp;34(2):867-888.&nbsp; <a href="http://pubmed.ncbi.nlm.nih.gov/34865154">PMID: 34865154</a>
    <br>
    <br> Zhou P, Enders TA, Myers ZA, Magnusson E, Crisp PA, Noshay JM, Gomez-Cano F, Liang Z, Grotewold E, Greenham K, Springer NM. (2022) Prediction of conserved and variable heat and cold stress response in maize using cis-regulatory information. <strong>Plant Cell.</strong> 34(1):514-534. <a href="https://pubmed.ncbi.nlm.nih.gov/34735005">PMID: 34735005</a>
    <br>
    <br> Jiang N, Dillon FM, Silva A, Gomez-Cano L, Grotewold E. (2021) Corrigendum to "Rhamnose in plants - from biosynthesis to diverse functions" <strong>&nbsp;Plant Sci.</strong> 307:110897. <a href="http://pubmed.ncbi.nlm.nih.gov/33902856">PMID: 33902856</a>
    <br>
    <br> Lee YS, Herrera-Tequia A, Silwal J, Geiger JH, Grotewold E. (2021) A hydrophobic residue stabilizes dimers of regulatory ACT-like domains in plant basic helix-loop-helix transcription factors. <strong>J Biol Chem.</strong>&nbsp;296:100708.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/33901489">PMID: 33901489</a>
    <br>
    <br> Gomez-Cano F, Carey L, Lucas K, García Navarrete T, Mukundi E, Lundback S, Schnell D, Grotewold E. (2020) CamRegBase: a gene regulation database for the biofuel crop, Camelina sativa. <strong>Database (Oxford).</strong> 2020:baaa075.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/33306801">PMID: 33306801</a>
    <br>
    <br> Jiang N, Dillon FM, Silva A, Gomez-Cano L, Grotewold E. (2020) Rhamnose in plants - from biosynthesis to diverse functions. <strong>Plant Sci.</strong> 302:110687. <a href="https://pubmed.ncbi.nlm.nih.gov/33288005">PMID: 33288005</a>
    <br>
    <br> Jiang N, Gutierrez-Diaz A, Mukundi E, Lee YS, Meyers BC, Otegui MS, Grotewold E. (2020) Author Correction: Synergy between the anthocyanin and RDR6/SGS3/DCL4 siRNA pathways expose hidden features of Arabidopsis carbon metabolism. <strong>Nat Commun.</strong>&nbsp;11(1):5276.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/33057182">PMID: 33057182</a>
    <br>
    <br> Yuan L, Grotewold E. (2020) Plant specialized metabolism. <strong>Plant Sci.</strong> 298:110579.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/32771140">PMID: 32771140</a>
    <br>
    <br> Jiang N, Gutierrez-Diaz A, Mukundi E, Lee YS, Meyers BC, et al. (2020) Synergy between the anthocyanin and RDR6/SGS3/DCL4 siRNA pathways expose hidden features of <em>Arabidopsis </em>carbon metabolism. <strong>Nat Commun</strong> 11: 2456.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/32415123">PMID:&nbsp; 32415123</a>
    <br>
    <br> Zhou P, Li Z, Magnusson E, Gomez Cano F, Crisp PA, et al. (2020) Meta gene regulatory networks in maize highlight functionally rrelevant regulatory interactions. <strong>Plant Cell</strong> 32: 1377-1396.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/32184350">PMID:&nbsp; 32184350</a>
    <br>
    <br> Jiang N, Lee YS, Mukundi E, Gomez-Cano F, Rivero L, et al. (2020) Diversity of genetic lesions characterizes new <em>Arabidopsis </em>flavonoid pigment mutant alleles from T-DNA collections. <strong>Plant Sci</strong> 291: 110335.&nbsp;&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/31928687">PMID:&nbsp; 31928687</a>
    <br>
    <br> Gomez-Cano L, Gomez-Cano F, Dillon FM, Alers-Velazquez R, Doseff AI, et al. (2020) Discovery of modules involved in the biosynthesis and regulation of maize phenolic compounds. <strong>Plant Sci</strong> 291: 110364.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/31928683">PMID:&nbsp;&nbsp;31928683</a>
    <br>
    <br> Springer N, de Leon N, Grotewold E (2019) Challenges of translating gene regulatory information into agronomic improvements. <strong>Trends Plant Sci</strong> 24: 1075-1082.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/31377174">PMID:&nbsp;&nbsp;31377174</a>
    <br>
    <br> Kovinich N, Wang Y, Adegboye J, Chanoca AA, Otegui MS, et al. (2018) <em>Arabidopsis </em>MATE45 antagonizes local abscisic acid signaling to mediate development and abiotic stress responses. <strong>Plant Direct</strong> 2: e00087.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/31245687">PMID:&nbsp;&nbsp;31245687</a>
    <br>
    <br> Milutinovic M, Lindsey BE, 3rd, Wijeratne A, Hernandez JM, Grotewold N, et al. (2019) <em>Arabidopsis </em>EMSY-like (EML) histone readers are necessary for post-fertilization seed development, but prevent fertilization-independent seed formation. <strong>Plant Sci</strong> 285: 99-109.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/31203898">PMID:&nbsp;&nbsp;31203898</a>
    <br>
    <br> Jones MA, Morohashi K, Grotewold E, Harmer SL (2019) <em>Arabidopsis </em>JMJD5/JMJ30 acts independently of LUX ARRHYTHMO within the plant circadian clock to enable temperature compensation. <strong>Front Plant Sci</strong> 10: 57.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/30774641">PMID:&nbsp;&nbsp;30774641</a>
    <br>
    <br> Cocuron JC, Casas MI, Yang F, Grotewold E, Alonso AP (2019) Beyond the wall: High-throughput quantification of plant soluble and cell-wall bound phenolics by liquid chromatography tandem mass spectrometry. <strong>J Chromatogr A</strong> 1589: 93-104.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/30626504">PMID:&nbsp;&nbsp;30626504</a>
  </p>
  <p>&nbsp;</p>
  <p>Silva GFF, Silva EM, Correa JPO, Vicente MH, Jiang N, et al. (2019) Tomato floral induction and flower development are orchestrated by the interplay between gibberellin and two unrelated microRNA-controlled modules. <strong>New Phytol</strong> 221: 1328-1344.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/30238569">PMID:&nbsp;&nbsp;30238569</a>
  </p>
  <p>Righini S, Rodriguez EJ, Berosich C, Grotewold E, Casati P, et al. (2019) Apigenin produced by maize flavone synthase I and II protects plants against UV-B-induced damage. <strong>Plant Cell Environ</strong> 42: 495-508.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/30160312">PMID:&nbsp;&nbsp;30160312</a>
  </p>
  <p>Mejia-Guerra MK, Li W, Doseff AI, Grotewold E (2018) Genome-wide TSS identification in maize. <strong>Methods Mol Biol</strong> 1830: 239-256.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/30043374">PMID:&nbsp;&nbsp;30043374</a>
  </p>
  <p>Chanoca A, Burkel B, Grotewold E, Eliceiri KW, Otegui MS (2018) Imaging vacuolar anthocyanins with fluorescence lifetime microscopy (FLIM). <strong>Methods Mol Biol</strong> 1789: 131-141.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/29916076">PMID:&nbsp;&nbsp;29916076</a>
  </p>
  <p>Ouma WZ, Pogacar K, Grotewold E (2018) Topological and statistical analyses of gene regulatory networks reveal unifying yet quantitatively different emergent properties. <strong>PLoS Comput Biol</strong> 14: e1006098.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/29708965">PMID:&nbsp;&nbsp;29708965</a>
  </p>
  <p>Friesner J, Assmann SM, Bastow R, Bailey-Serres J, Beynon J, et al. (2017) The next generation of training for <em>Arabidopsis </em>researchers: Bioinformatics and quantitative biology. <strong>Plant Physiol</strong> 175: 1499-1509.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/29208732">PMID:&nbsp;&nbsp;29208732</a>
  </p>
  <p>Lindsey BE, 3rd, Rivero L, Calhoun CS, Grotewold E, Brkljacic J (2017) Standardized method for high-throughput sterilization of <em>Arabidopsis </em>seeds. <strong>J Vis Exp.</strong>&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/29155739">PMID:&nbsp;&nbsp;29155739</a>
  </p>
  <p>Feller A, Yuan L, Grotewold E (2017) The BIF domain in plant bHLH proteins is an ACT-like domain. <strong>Plant Cell</strong> 29: 1800-1802.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/28747421">PMID:&nbsp;&nbsp;28747421</a>
  </p>
  <p>Mukundi E, Gomez-Cano F, Ouma WZ, Grotewold E (2017) Design of knowledge bases for plant gene regulatory networks. <strong>Methods Mol Biol</strong> 1629: 207-223.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/28623588">PMID:&nbsp;&nbsp;28623588</a>
  </p>
  <p>Casas MI, Vaughan MJ, Bonello P, McSpadden Gardener B, Grotewold E, et al. (2017) Identification of biochemical features of defective <em>Coffea arabica L.</em> beans. <strong>Food Res Int</strong> 95: 59-67.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/28395826">PMID:&nbsp;&nbsp;28395826</a>
  </p>
  <p>McCluskey K, Boundy-Mills K, Dye G, Ehmke E, Gunnell GF, et al. (2017) The challenges faced by living stock collections in the USA. <strong>Elife</strong> 6.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/28266913">PMID:&nbsp;&nbsp;28266913</a>
  </p>
  <p>Francis D, Finer JJ, Grotewold E (2017) Challenges and opportunities for improving food quality and nutrition through plant biotechnology. <strong>Curr Opin Biotechnol</strong> 44: 124-129.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/28088010">PMID:&nbsp;&nbsp;28088010</a>
  </p>
  <p>Iwase A, Harashima H, Ikeuchi M, Rymen B, Ohnuma M, et al. (2017) WIND1 promotes shoot regeneration through transcriptional activation of ENHANCER OF SHOOT REGENERATION1 in <em>Arabidopsis</em>. <strong>Plant Cell</strong> 29: 54-69.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/28011694">PMID:&nbsp;&nbsp;28011694</a>
  </p>
  <p>Yang F, Li W, Jiang N, Yu H, Morohashi K, et al. (2017) A maize gene regulatory network for phenolic metabolism. <strong>Mol Plant</strong> 10: 498-515.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/27871810">PMID:&nbsp;&nbsp;27871810</a>
  </p>
  <p>Grotewold E, Springer NM (2017) News from the plant world: Listening to transcription. <strong>Biochim Biophys Acta Gene Regul Mech</strong> 1860: 1-2.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/27866003">PMID:&nbsp;&nbsp;27866003</a>
  </p>
  <p>Chanoca A, Burkel B, Kovinich N, Grotewold E, Eliceiri KW, et al. (2016) Using fluorescence lifetime microscopy to study the subcellular localization of anthocyanins. <strong>Plant J</strong> 88: 895-903.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/27500780">PMID:&nbsp;&nbsp;27500780</a>
  </p>
  <p>Yang F, Ouma WZ, Li W, Doseff AI, Grotewold E (2016) Establishing the architecture of plant gene regulatory networks. <strong>Methods Enzymol</strong> 576: 251-304.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/27480690">PMID:&nbsp;&nbsp;27480690</a>
  </p>
  <p>Brkljacic J, Grotewold E (2017) Combinatorial control of plant gene expression. <strong>Biochim Biophys Acta Gene Regul Mech</strong> 1860: 31-40.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/27427484">PMID:&nbsp;&nbsp;27427484</a>
  </p>
  <p>Jiang N, Doseff AI, Grotewold E (2016) Flavones: From biosynthesis to health benefits. <strong>Plants (Basel)</strong> 5.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/27338492">PMID:&nbsp;&nbsp;27338492</a>
  </p>
  <p>Agarwal T, Grotewold E, Doseff AI, Gray J (2016) MYB31/MYB42 syntelogs exhibit divergent regulation of phenylpropanoid genes in maize, sorghum and rice. <strong>Sci Rep</strong> 6: 28502.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/27328708">PMID:&nbsp;&nbsp;27328708</a>
  </p>
  <p>Casas MI, Falcone-Ferreyra ML, Jiang N, Mejia-Guerra MK, Rodriguez E, et al. (2016) Identification and characterization of maize salmon silks genes Involved in insecticidal maysin biosynthesis. <strong>Plant Cell</strong> 28: 1297-1309.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/27221383">PMID:&nbsp;&nbsp;27221383</a>
  </p>
  <p>Cardenas H, Arango D, Nicholas C, Duarte S, Nuovo GJ, et al. (2016) Dietary apigenin exerts immune-regulatory activity in vivo by reducing NF-kappaB activity, halting leukocyte infiltration and restoring normal metabolic function. <strong>Int J Mol Sci</strong> 17: 323.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/26938530">PMID:&nbsp;&nbsp;26938530</a>
  </p>
  <p>Grotewold E (2016) Flavonols drive plant microevolution. <strong>Nat Genet</strong> 48: 112-113.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/26813762">PMID:&nbsp;&nbsp;26813762</a>
  </p>
  <p>Mejia-Guerra MK, Li W, Galeano NF, Vidal M, Gray J, et al. (2015) Core promoter plasticity between maize tissues and genotypes contrasts with predominance of sharp transcription initiation sites. <strong>Plant Cell</strong> 27: 3309-3320.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/26628745">PMID:&nbsp;&nbsp;26628745</a>
  </p>
  <p>Wang HZ, Yang KZ, Zou JJ, Zhu LL, Xie ZD, et al. (2015) Transcriptional regulation of PIN genes by FOUR LIPS and MYB88 during <em>Arabidopsis </em>root gravitropism. <strong>Nat Commun</strong> 6: 8822.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/26578169">PMID:&nbsp;&nbsp;26578169</a>
  </p>
  <p>Chen Q, Liu Y, Maere S, Lee E, Van Isterdael G, et al. (2015) A coherent transcriptional feed-forward motif model for mediating auxin-sensitive PIN3 expression during lateral root development. <strong>Nat Commun</strong> 6: 8821.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/26578065">PMID:&nbsp;&nbsp;26578065</a>
  </p>
  <p>Velez-Bermudez IC, Salazar-Henao JE, Fornale S, Lopez-Vidriero I, Franco-Zorrilla JM, et al. (2015) A MYB/ZML complex regulates wound-induced lignin genes in maize. <strong>Plant Cell</strong> 27: 3245-3259.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/26566917">PMID:&nbsp;&nbsp;26566917</a>
  </p>
  <p>Provart NJ, Alonso J, Assmann SM, Bergmann D, Brady SM, et al. (2016) 50 years of <em>Arabidopsis </em>research: highlights and future directions. <strong>New Phytol</strong> 209: 921-944.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/26465351">PMID:&nbsp;&nbsp;26465351</a>
  </p>
  <p>Chanoca A, Kovinich N, Burkel B, Stecha S, Bohorquez-Restrepo A, et al. (2015) Anthocyanin vacuolar inclusions form by a microautophagy mechanism. <strong>Plant Cell</strong> 27: 2545-2559.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/26342015">PMID:&nbsp;&nbsp;26342015</a>
  </p>
  <p>Falcone Ferreyra ML, Emiliani J, Rodriguez EJ, Campos-Bermudez VA, Grotewold E, et al. (2015) The identification of maize and <em>Arabidopsis </em>type I FLAVONE SYNTHASEs links flavones with hormones and biotic interactions. <strong>Plant Physiol</strong> 169: 1090-1107.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/26269546">PMID:&nbsp;&nbsp;26269546</a>
  </p>
  <p>Kovinich N, Kayanja G, Chanoca A, Otegui MS, Grotewold E (2015) Abiotic stresses induce different localizations of anthocyanins in <em>Arabidopsis</em>. <strong>Plant Signal Behav</strong> 10: e1027850.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/26179363">PMID:&nbsp;&nbsp;26179363</a>
  </p>
  <p>Ouma WZ, Mejia-Guerra MK, Yilmaz A, Pareja-Tobes P, Li W, et al. (2015) Important biological information uncovered in previously unaligned reads from chromatin immunoprecipitation experiments (ChIP-Seq). <strong>Sci Rep</strong> 5: 8635.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/25727450">PMID:&nbsp;&nbsp;25727450</a>
  </p>
  <p>Yuan L, Grotewold E (2015) Metabolic engineering to enhance the value of plants as green factories. <strong>Metab Eng</strong> 27: 83-91.&nbsp; <a href="https://pubmed.ncbi.nlm.nih.gov/25461830">PMID:&nbsp;&nbsp;25461830</a>
  </p>
  <p>Having Issues with the website?&nbsp;&nbsp;Contact <a href="mailto:oliver.tessmer@gmail.com">Oliver</a>&nbsp;with any questions or concerns. </p>