<style>
    td, th {
        border:1px solid black;
        font-size: 16px;
        padding: 10px;   
    }
    
    th {
        text-align: center;   
    }
    
    td a {
        font-weight: bold;
        text-decoration: underline;
    }
</style>

<table>
  <thead>
    <tr>
      <th scope="col" style="width:400px">Publication</th>
      <th scope="col" style="width:150px">Pubmed</th>
      <th scope="col" style="width:100px">PDF</th>
      <th scope="col" style="width:100px">Data</th>
      <th scope="col" style="width:100px">Scripts</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Johnston et al. (2022)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/35909773">35909773</a>
      </td>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC9330397/pdf/fpls-13-943585.pdf">PDF</a>
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>Rodriguez et al. (2022)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/35629939">35629939</a>
      </td>
      <td>
        <a href="https://www.mdpi.com/2218-1989/12/5/435/pdf">PDF</a>
      </td>
      <td>
        <a href="https://doi.org/10.25739/e1bq-kh07">Data</a>
      </td>
      <td>
        <a href="https://github.com/jrod55/m_lcms">Scripts</a>
      </td>
    </tr>
    <tr>
      <td>García et al. (2022)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/35416986">35416986</a>
      </td>
      <td>
        <a href="https://academic.oup.com/g3journal/article-pdf/12/6/jkac084/43894214/jkac084.pdf">PDF</a>
      </td>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/bioproject/PRJNA751040">SRA</a>
      </td>
      <td>
        <a href="https://github.com/Thlaspiarvense/Pennycress">Scripts</a>
      </td>
    </tr>
    <tr>
      <td>Ding et al. (2022)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/35251104">35251104</a>
      </td>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8894768/pdf/fpls-13-833612.pdf">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>
        <a href="https://github.com/StoreyLab/qvalue">Scripts</a>
      </td>
    </tr>
    <tr>
      <td>Gomez-Cano et al. (2022)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/35064997">35064997</a>
      </td>
      <td>
        <a href="https://onlinelibrary.wiley.com/doi/pdfdirect/10.1111/tpj.15682">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>
        <a href="https://github.com/gomezcan/TransRegLipMet_CamelinaSeed.git">Scripts</a>
      </td>
    </tr>
    <tr>
      <td>Schmitz et al. (2022)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/34918159">34918159</a>
      </td>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8824567/pdf/koab281.pdf">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Moore et al. (2022)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/34865154">34865154</a>
      </td>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8824630/pdf/koab287.pdf">PDF</a>
      </td>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE34318">GEO</a>
      </td>
      <td>
        <a href="https://github.com/ShiuLab/ML-Pipeline">Scripts</a>
      </td>
    </tr>
    <tr>
      <td>Zhou et al. (2022)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/34735005">34735005</a>
      </td>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8773969/pdf/koab267.pdf">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>
        <a href="https://github.com/orionzhou/stress">Scripts</a>
      </td>
    </tr>
    <tr>
      <td>Jiang et al. (2021)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/33902856">33902856</a>
      </td>
      <td>
        <a href="https://www.sciencedirect.com/science/article/pii/S016894522100090X/pdfft">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Lee et al. (2021)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/33901489">33901489</a>
      </td>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8202348/pdf/main.pdf">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>
        <a href="https://github.com/SBRG/ssbio/blob/master/docs/instructions/itasser.rst">Scripts</a>
      </td>
    </tr>
    <tr>
      <td>Gomez-Cano et al. (2020) CamRegBase...</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/33306801">33306801</a>
      </td>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7731927/pdf/baaa075.pdf">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Jiang et al. (2020) Rhamnose…</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/33288005">33288005</a>
      </td>
      <td>
        <a href="https://www.sciencedirect.com/science/article/pii/S0168945220302934/pdfft">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Jiang et al. (2020) Author Correction…</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/33057182">33057182</a>
      </td>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7560853/pdf/41467_2020_Article_19223.pdf">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Yuan et al. (2020)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/32771140">32771140</a>
      </td>
      <td>
        <a href="https://www.sciencedirect.com/science/article/pii/S0168945220301850/pdfft">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Jiang et al. (2020) Synergy…</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/32415123">32415123</a>
      </td>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7229025/pdf/41467_2020_Article_16289.pdf">PDF</a>
      </td>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE136680">GEO1</a>
        <br>
        <a href="https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE136901">GEO2</a>
        <br>
        <a href="https://www.ncbi.nlm.nih.gov/bioproject/PRJNA562949">SRA</a>
      </td>
      <td>
        <a href="https://github.com/a-velt/Mfuzz_RNAseq">Scripts</a>
      </td>
    </tr>
    <tr>
      <td>Zhou et al. (2020)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/32184350">32184350</a>
      </td>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7203921/pdf/TPC_202000080DR1.pdf">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>
        <a href="https://github.com/orionzhou/rnaseq">Scripts</a>
      </td>
    </tr>
    <tr>
      <td>Jiang et al. (2020) Diversity…</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/31928687">31928687</a>
      </td>
      <td>
        <a href="https://www.sciencedirect.com/science/article/pii/S0168945219315080/pdfft">PDF</a>
      </td>
      <td>
        <a href="http://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE129589">GEO</a>
      </td>
      <td>
        <a href="https://github.com/s-andrews/FastQC">Scripts</a>
      </td>
    </tr>
    <tr>
      <td>Gomez-Cano et al. (2020) Discovery…</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/31928683">31928683</a>
      </td>
      <td>
        <a href="https://www.sciencedirect.com/science/article/pii/S0168945219315377/pdfft">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>
        <a href="https://github.com/DaehwanKimLab/hisat2">Scripts</a>
      </td>
    </tr>
    <tr>
      <td>Springer et al. (2019)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/31377174">31377174</a>
      </td>
      <td>
        <a href="https://www.sciencedirect.com/science/article/pii/S1360138519301670/pdfft">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Kovinich et al. (2018)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/31245687">31245687</a>
      </td>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6508792/pdf/PLD3-2-e00087.pdf">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Milutinovic et al. (2019)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/31203898">31203898</a>
      </td>
      <td>
        <a href="https://www.sciencedirect.com/science/article/pii/S0168945219301293/pdfft">PDF</a>
      </td>
      <td>
        <a href="http://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE113847">GEO</a>
      </td>
      <td>
        <a href="https://github.com/mikelove/DESeq2">Scripts</a>
      </td>
    </tr>
    <tr>
      <td>Jonas et al. (2019)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/30774641">30774641</a>
      </td>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6367231/pdf/fpls-10-00057.pdf">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Cocuron et al. (2019)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/30626504">30626504</a>
      </td>
      <td>
        <a href="https://www.sciencedirect.com/science/article/pii/S0021967318315796/pdfft">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>
        <a href="https://github.com/xia-lab/MetaboAnalystR">Scripts</a>
      </td>
    </tr>
    <tr>
      <td>Silva et al. (2019)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/30238569">30238569</a>
      </td>
      <td>
        <a href="https://nph.onlinelibrary.wiley.com/doi/pdfdirect/10.1111/nph.15492">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Righini et al. (2019)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/30160312">30160312</a>
      </td>
      <td>
        <a href="https://onlinelibrary.wiley.com/doi/pdfdirect/10.1111/pce.13428">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>
        <a href="https://github.com/GSLBiotech/clustal-omega">Scripts</a>
      </td>
    </tr>
    <tr>
      <td>Mejia-Guerra et al. (2018)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/30043374">30043374</a>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>
        <a href="https://github.com/mariakmejiaguerra/ZmTSSs_CAGE">Scripts</a>
      </td>
    </tr>
    <tr>
      <td>Chanoca et al. (2018)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/29916076">29916076</a>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Ouma et al. (2018)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/29708965">29708965</a>
      </td>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5945062/pdf/pcbi.1006098.pdf">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>
        <a href="https://github.com/igraph/rigraph">Scripts</a>
      </td>
    </tr>
    <tr>
      <td>Friesner et al. (2017)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/29208732">29208732</a>
      </td>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5717721/pdf/PP_PP2017COM01490DR1.pdf">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>
        <a href="https://github.com/Computational-Plant-Science/DIRT">Scripts</a>
      </td>
    </tr>
    <tr>
      <td>Lindsey et al. (2017)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/29155739">29155739</a>
      </td>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5752416/pdf/jove-128-56587.pdf">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Feller et al. (2017)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/28747421">28747421</a>
      </td>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5590504/pdf/PC_TPC2017LTE00356R1.pdf">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Mukundi et al. (2017)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/28623588">28623588</a>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Casas et al. (2017)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/28395826">28395826</a>
      </td>
      <td>
        <a href="https://www.sciencedirect.com/science/article/pii/S0963996917300777/pdfft">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>
        <a href="https://github.com/xia-lab/MetaboAnalystR">Scripts</a>
      </td>
    </tr>
    <tr>
      <td>McCluskey et al. (2017)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/28266913">28266913</a>
      </td>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5376150/pdf/elife-24611.pdf">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Francis et al. (2017)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/28088010">28088010</a>
      </td>
      <td>
        <a href="https://www.sciencedirect.com/science/article/pii/S0958166916302658/pdfft">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Iwase et al. (2017)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/28011694">28011694</a>
      </td>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5304349/pdf/PC_TPC201600623RAR2.pdf">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>
        <a href="https://github.com/imagej/ImageJ">Scripts</a>
      </td>
    </tr>
    <tr>
      <td>Yang et al. (2017)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/27871810">27871810</a>
      </td>
      <td>
        <a href="https://www.sciencedirect.com/science/article/pii/S1674205216302751/pdfft">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Grotewold et al. (2017)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/27866003">27866003</a>
      </td>
      <td>
        <a href="https://www.sciencedirect.com/science/article/pii/S1874939916302528/pdfft">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Chanoca et al. (2017)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/27500780">27500780</a>
      </td>
      <td>
        <a href="https://onlinelibrary.wiley.com/doi/pdfdirect/10.1111/tpj.13297">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>
        <a href="https://github.com/fiji/Colocalisation_Analysis">Scripts</a>
      </td>
    </tr>
    <tr>
      <td>Brkljacic et al. (2017)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/27427484">27427484</a>
      </td>
      <td>
        <a href="https://www.sciencedirect.com/science/article/pii/S1874939916301377/pdfft">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Yang et al. (2016)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/27480690">27480690</a>
      </td>
      <td>
        <a href="https://www.sciencedirect.com/science/article/pii/S0076687916001154/pdfft">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>
        <a href="https://github.com/asntech/jaspar">Scripts</a>
      </td>
    </tr>
    <tr>
      <td>Jiang et al. (2016)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/27338492">27338492</a>
      </td>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4931407/pdf/plants-05-00027.pdf">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Agarwal et al. (2016)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/27328708">27328708</a>
      </td>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4916418/pdf/srep28502.pdf">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>
        <a href="https://github.com/cran/Hmisc">Scripts</a>
      </td>
    </tr>
    <tr>
      <td>Casas et al. (2016)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/27221383">27221383</a>
      </td>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4944406/pdf/PC_TPC201600003RAR1.pdf">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>
        <a href="https://github.com/MicrosoftDocs/VBA-Docs/blob/main/api/Excel.WorksheetFunction.T_Test.md">Scripts</a>
      </td>
    </tr>
    <tr>
      <td>Cardenas et al. (2016)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/26938530">26938530</a>
      </td>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4813185/pdf/ijms-17-00323.pdf">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Grotewold et al. (2016)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/26813762">26813762</a>
      </td>
      <td>
        <a href="https://www.nature.com/articles/ng.3490.pdf">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Provart et al. (2016)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/26465351">26465351</a>
      </td>
      <td>
        <a href="https://nph.onlinelibrary.wiley.com/doi/pdfdirect/10.1111/nph.13687">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Mejia-Guerra et al. (2015)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/26628745">26628745</a>
      </td>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4707454/pdf/PC_TPC201500630LSBR2.pdf">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>
        <a href="https://github.com/macs3-project/MACS">Scripts</a>
      </td>
    </tr>
    <tr>
      <td>Wang et al. (2015)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/26578169">26578169</a>
      </td>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4673497/pdf/ncomms9822.pdf">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>
        <a href="https://github.com/imagej/ImageJ">Scripts</a>
      </td>
    </tr>
    <tr>
      <td>Chen et al. (2015)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/26578065">26578065</a>
      </td>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4673502/pdf/ncomms9821.pdf">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>
        <a href="https://www.psb.ugent.be/esb/ESB/FLP_FFM_SI.html">Scripts</a>
      </td>
    </tr>
    <tr>
      <td>Velez-Bermudez et al. (2015)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/26566917">26566917</a>
      </td>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4682300/pdf/PC_TPC201500545RAR2.pdf">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>
        <a href="https://github.com/coldfunction/CUDA-clustalW">Scripts</a>
      </td>
    </tr>
    <tr>
      <td>Chanoca et al. (22015)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/26342015">26342015</a>
      </td>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4815043/pdf/PC_TPC201500589RA.pdf">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>
        <a href="https://github.com/fiji/Cell_Counter">Scripts</a>
      </td>
    </tr>
    <tr>
      <td>Falcone et al. (2015)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/26269546">26269546</a>
      </td>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4587447/pdf/PP_PP201500515.pdf">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Kovinich et al. (2015)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/26179363">26179363</a>
      </td>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4622623/pdf/kpsb-10-07-1027850.pdf">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Ouma et al. (2015)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/25727450">25727450</a>
      </td>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4345404/pdf/srep08635.pdf">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>
        <a href="https://github.com/compbio-UofT/shrimp">Scripts</a>
      </td>
    </tr>
    <tr>
      <td>Yuan et al. (2015)</td>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/25461830">25461830</a>
      </td>
      <td>
        <a href="https://www.sciencedirect.com/science/article/pii/S1096717614001438/pdfft">PDF</a>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      </tr>
  </tbody>
</table>