---
layout: default
---

<div>

<img src="/assets/images/maize3.jpg" style="width: 100%; height: 100px; object-fit: none; margin-bottom:25px;"/>

<div class="row">
    <div class="col-lg-8">
        
  <section>
    {{ content }}
  </section>
        
    
  {%- if site.posts.size > 0 -%}
    <br>
    <br>
    <p class="h4">{{ page.list_title | default: "Posts" }}</p>
    <ul class="news list-unstyled">
      {%- for post in site.posts limit:5 -%}
      <li>
        <span class="text-muted">
          {%- assign date_format = "%b %-d, %Y" -%}
          {{ post.date | date: date_format }}
        </span>
        <p class="h5">
          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </p>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <br>
    
    <p><a href="/news">View all News</a></p>
    
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}
    </div>
    <div class="col-lg-4">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
         <div class="panel panel-danger">
            <div class="panel-body">
               <a class="twitter-timeline" data-width="100%" href="https://twitter.com/grotewoldlab">Tweets by grotewoldlab</a> 
            </div>
         </div>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>

</div>
